<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caio.popsodadrink">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_psd"
        android:label="Pop&apos;Soda Drink"
        android:roundIcon="@drawable/logo_psd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CadastroActivity" />
        <activity
            android:name=".fragments.LoginFragment"
            android:theme="@style/EditTextTheme" />
        <activity android:name=".fragments.EstabelecimentosFragments" />
        <activity
            android:name=".DrawerActivity"
            android:theme="@style/EditTextTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PagamentoActivity" />
        <activity android:name=".fragments.PromocoesFragment" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/EditTextTheme"></activity>
        <activity android:name=".fragments.EditarFragment" />
        <activity android:name=".fragments.PerfilFragment" />
        <activity android:name=".LoginActivity" android:theme="@style/EditTextTheme"></activity>
    </application>

</manifest>