<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caio.popsodadrink">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_psd"
        android:label="Pop&apos;Soda Drink"
        android:roundIcon="@drawable/logo_psd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CadastroActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/EditTextTheme" />
        <activity android:name=".EstabelcimentosActivity" />
        <activity android:name=".BrindesActivity" />
        <activity android:name=".PagamentoActivity" />
        <activity android:name=".PromocoesActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/EditTextTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditarActivity" />
        <activity android:name=".PerfilActivity"></activity>
    </application>

</manifest>